<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img
        class="slide-bg-image"
        src="https://image.tmdb.org/t/p/original/1E5baAaEse26fej7uHcjOgEE2t2.jpg"
        alt=""
      />
    </div>
    <div class="slide-pane">
      <h2 class="title">Talk to Me</h2>
      <div class="meta">
        <div class="info">
          <span class="rating"
            ><span class="icon">star</span><span class="rating-value">7.5</span
            ><span>/10</span></span
          >
          <span>463 reviews</span>
          <span>2023</span>
        </div>
      </div>
      <div class="description mt-6">
        When a group of friends discover how to conjure spirits using an
        embalmed hand, they become hooked on the new thrill, until one of them
        goes too far and unleashes terrifying supernatural forces.
      </div>
    </div>
  </div>
</div>
